body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
